.main {
  min-height: 100vh;
  font-family: 'Lexend', sans-serif;
}



.sushi-card {
  background-color: var(--card);
  border: none;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: white;
}

.card-img-wrapper {
  height: 200px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 20px 25px;
}


.section-titre {
  color: #a0a0a0;
  /* Gris clair */
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-weight: 600;
}


.badge-flavor {
  background-color: #384B20;
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 0.85rem;
  font-weight: 500;
}


.separator {
  border-color: #444;
  margin-top: 5px;
  margin-bottom: 15px;
  opacity: 1;
}

.composition-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.composition-list li {
  color: white;
  font-size: 0.95rem;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.composition-list .qty {
  color: #888;
  margin-left: 5px;
  font-size: 0.9em;
}


.price {
  font-size: 1.8rem;
  font-weight: 700;
}

.btn-cart-custom {
  background-color: white;
  color: #111111;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
}

.btn-cart-custom:hover {
  background-color: var(--rouge);
}

button i {
  font-size: 1.8rem;
  color: #111111;
}

.btn-cart-custom:hover i {
  color: white;
}

h2 {
  font-weight: 550;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #111111;
}


.info-section {
  color: white;
}

.info-card {
  background-color: var(--vert);
  border-radius: 20px;
  padding: 40px 30px;
  text-align: center;
}


.info-card i {
  font-size: 3.5rem;
  color: white;
  display: block;
}


.info-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.info-text {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 400;
  opacity: 80%;
  line-height: 1.5;
  margin-bottom: 0;
}

.pres-marque p {
  font-size: 1.25rem;
  color:#111111;
}

.errorlimit-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 90%;
  max-width: 500px;
  animation: slideDown 0.5s ease-out;
}

.errorlimit-message {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
}

@keyframes slideDown {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 20px;
    opacity: 1;
  }
}