

#mainMenu .nav-link {
  font-size: 20px;
  color: #fff;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  position: relative;
}


#mainMenu .nav-link::before {
  position: absolute;
  content: "";
  width: calc(100% - 1px);
  height: 1px;
  background: #fff;
  bottom: -1px;
  left: 0;
  transform: scale(0, 1);
  transform-origin: right center;
  z-index: -1;
  transition: transform 0.5s ease;
}

#mainMenu .nav-link:hover::before {
  transform: scale(1, 1);
  transform-origin: left center;
}


.main-header.fixed-nav #mainMenu .nav-link::before {
  background: #000;
}


.main-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  transition: all 0.4s ease;
  background: var(--vert) !important; 
  box-shadow: none !important;        
}

.main-header.fixed-nav {
  top: 0;
  background: #1fa447 !important;     
  transition: all 0.4s ease;
  box-shadow: none !important;
}



.navbar-brand {
  color: #fff;
}

.main-header .navbar-brand img {
  width: 95px; 
  height: auto;
}


.main-header.fixed-nav .navbar-brand > img:last-of-type {
  display: block;
}

.main-header.fixed-nav .navbar-brand > img:first-of-type {
  display: none;
}



.navbar-nav.ml-auto {
  margin-left: auto !important; 
}

.navbar-nav.mr-auto {
  margin-left: 30px;            
}

.menu-item {
  margin-right: 35px; 
}

.account-link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #fff !important;
  text-align: left;
}

.ph-user {
  font-size: 24px;
}


.dropdown-menu {
  background-color: var(--darkvert); 
  border-radius: 8px;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.3);
}


.dropdown-item {
  color: #fff;
  text-decoration: none !important;
  padding: 10px 18px;
  font-size: 16px;
  transition: background 0.2s ease;
  font-family: "Lexend", sans-serif;
}


.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}

.dropdown-menu .dropdown-item::before {
  display: none !important;
}



@media (max-width: 991px) {

  .navbar-toggler {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 0;
    border: none;
    border-radius: 0;
    outline: none !important;
    background: transparent;
  }

  .main-header .navbar {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .main-header .navbar-nav {
    margin-top: 70px;
  }

  .main-header .navbar-nav .nav-link {
    text-align: center;
    padding: 20px 15px;
    border-radius: 0;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler:focus-visible {
      box-shadow: none !important;
  }
}
