.footer-custom {
    background-color: var(--vert);
    font-family: "Lexend", sans-serif;
}

.logo-img {
    height: 85px;
    width: auto;
}

.nav-link {
    font-size: 16px;
    transition: opacity 0.2s ease;
}

.nav-link:hover {
    opacity: 0.8;
}

.copyright {
    font-size: 14px;
}