/* HEADER */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--vert);
}

/* LOGO */
.navbar-brand img {
  width: 85px;
  height: auto;
}

/* LIENS */
.navbar-nav .nav-link {
  font-family: "Lexend", sans-serif;
  font-size: 18px;
  color: #fff ;
  position: relative;
}

/* SOULIGNEMENT HOVER */
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar-nav .dropdown-toggle::after {
  display: none;
}

/* ICONES */
.ph-shopping-cart,
.ph-user {
  font-size: 22px;
}

/* DROPDOWN */

.dropdown-menu {
  background-color: var(--darkvert); 
  border-radius: 8px;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.3);
}

.dropdown-item {
  color: #fff;
  text-decoration: none !important;
  padding: 10px 18px;
  font-size: 16px;
  transition: background 0.2s ease;
  font-family: "Lexend", sans-serif;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}

.dropdown-menu .dropdown-item::before {
  display: none !important;
}

/* MOBILE */
@media (max-width: 991px) {
  .navbar-nav {
    margin-top: 1.5rem;
    gap: 1rem;
    text-align: center;
  }

  .navbar-nav .nav-link {
    justify-content: center;
  }
}
