
.main-container {
  background-color: var(--background-color);
  min-height: 100vh;
  font-family: 'Lexend', sans-serif;
}

.username::first-letter{
  text-transform: uppercase;
}

.sushi-card {
  background-color: var(--card); 
  border: none;
  border-radius: 20px; 
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  color: white;
}

.card-img-wrapper {
  height: 200px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 20px 25px;
}


.section-titre {
  color: #a0a0a0; /* Gris clair */
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-weight: 600;
}
/**
/* Badges Saveurs */
.badge-flavor {
  background-color: #384B20; 
  color: white; 
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 0.85rem;
  font-weight: 500;
}

/* Ligne de séparation */
.separator {
  border-color: #444;
  margin-top: 5px;
  margin-bottom: 15px;
  opacity: 1;
}

/* Liste de composition */
.composition-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.composition-list li {
  color: white;
  font-size: 0.95rem;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.composition-list .qty {
  color: #888;
  margin-left: 5px;
  font-size: 0.9em;
}


.price {
  font-size: 1.8rem;
  font-weight: 700;
}



.btn-cart-custom {
  background-color: white;
  color: #111111;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
}

.btn-cart-custom:hover{
    background-color: var(--rouge);
}

button i{
    font-size: 1.8rem;
    color: #111111;
}

.btn-cart-custom:hover i{
    color: white;
}







