.card {
  background-color: var(--card);
  border-radius: 16px;
}

.chart-canvas {
  max-height: 500px;   /* 🔥 réduit la taille */
}

h5 {
  font-weight: 600;
}

h2 {
    font-weight: 550;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #111111;
}
