:root {
    /* Couleurs Principales */
    --blanc: #ffffff;
    --vert: #374D0D;
    --rouge: #E72727;
    --darkvert: #303328;
    --card:#1C1C1C;

    /* Formulaires */
    --border-color: #d0d0d0;
    --text-muted: #666666;
    --placeholder: #999999;
}

.main{
    margin-top: 110px;
    font-family: "Lexend", sans-serif;
}
html, body, app-root {
    height: 100%;
    margin: 0;
}